<div class="body-searchresults">
<div class="container searchresults">
 			<div class="row centered">
        <div class="col-lg-12 searchresultsgreet">
          <h1>This is what I found for you.</h1>
        </div>
 				<div class="col-md-4 col-sm-12 placeresults ">
          <div>
 					<i class="fa fa-map-marker text-center"></i>
          <h4>Places with names like '{{this.placeName}}'</h4>
          <div *ngFor="let place of placesResults" class="text-left">
            <h2>{{place.name}}</h2>
            <p>{{place.streetname}} {{place.housenumber}}</p>
            <p>{{place.city}}, {{place.country}}</p>
          </div>
          </div>



 				</div>
 				<div class="col-md-4 col-sm-12 foodresults">
          <div>
 					<i class="fa fa-cutlery"></i>


 				</div>
      </div>
 				<div class="col-md-4 col-sm-12 drinkresults">
          <div>
 					<i class="fa fa-beer"></i>


 				</div>
      </div>
	 		</div>
	 	</div><!--container -->
    </div>
