<div class="body-searchresults">
<div class="container searchresults">
 			<div class="row centered">
        <div class="col-lg-12 searchresultsgreet">
          <h1>This is what I found for you.</h1>
        </div>
 				<div class="col-md-4 col-sm-12 placeresults ">
          <div>
 					<i class="fa fa-map-marker text-center"></i>
          <h4>Places with names like '{{this.searchQuery}}'</h4>
          <div *ngFor="let place of placesResults" class="text-left">
            <h2>{{place.name}}</h2>
            <p>{{place.streetname}} {{place.housenumber}}</p>
            <p>{{place.city}}, {{place.country}}</p>
          </div>
          </div>



 				</div>
 				<div class="col-md-4 col-sm-12 foodresults">
          <div>
 					<i class="fa fa-cutlery"></i>
          <h4>Foods with names like '{{this.searchQuery}}'</h4>
          <div *ngFor="let food of foodsResults" class="text-left">
            <h4>{{food.name}}</h4>
            <p></p>
            <p>{{food.price | currency:'EUR':true:'1.2-2'}}, {{food.place.name}}</p>
          </div>

 				</div>
      </div>
 				<div class="col-md-4 col-sm-12 drinkresults">
          <div>
 					<i class="fa fa-beer"></i>
          <h4>Drinks with names like '{{this.searchQuery}}'</h4>
          <div *ngFor="let drink of drinksResults" class="text-left">
            <h4>{{drink.name}}</h4>
            <p></p>
            <p>{{drink.price | currency:'EUR':true:'1.2-2'}}, {{drink.place.name}}</p>
          </div>

 				</div>
      </div>
	 		</div>
	 	</div><!--container -->
    </div>
