/* #2e3333 grey */
/* #f65d59 brandcolor */
/* #bac3c3 letters on grey */

.body-searchresults {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(246, 246, 246);
}

.searchresultsgreet {
  color: #f65d59;
  margin-bottom: 50px;
  margin-top: 50px;
}

.searchresults i.fa {
  font-size: 2.5em;
  color: #f65d59;
}

.placeresults, .foodresults, .drinkresults {

}

.placeresults div, .foodresults div, .drinkresults div {
  border-radius: 15px;
  background-color: white;
  padding: 10px;
}
