<section>
    <div class="body-searchresults">
        <div class="container searchresults">
            <div class="row centered">
                <div class="col-lg-12 searchresultsgreet">
                    <h1>This is what I found for you.</h1>
                </div>
                <div class="col-md-4 col-sm-12 placeresults ">
                    <div>
                        <i class="fa fa-map-marker text-center"></i>
                        <h4>Check out these menucards</h4>
                        <div *ngFor="let place of placesResults" class="text-center ">
                            <h2>{{place.name | truncate : 35}}</h2>
                            <p>{{place.streetname}} {{place.housenumber}}</p>
                            <p>{{place.city}}, {{place.country}}</p>
                            <p>Distance: {{place.distance}}m</p>
                            <button class="btn btn-1 btn-1a" (click)="onSelect(place.id)">Menucard</button>
                        </div>
                    </div>



                </div>
                <div class="col-md-4 col-sm-12 foodresults">
                    <div>
                        <i class="fa fa-cutlery"></i>
                        <h4>Foods like '{{searchQuery}}' can be found here</h4>
                        <div *ngFor="let food of foodsResults" class="text-center">
                            <h4>{{food.name | truncate : 35 }}</h4>
                            <p></p>

                            <p>{{food.description | truncate : 40 }}</p>
                            <p>{{food.price | currency:'EUR':true:'1.2-2'}}, <a href="javascript:void(0);" (click)="onSelect(food.place_id)">{{food.placeName}}</a></p>
                            <p>Distance: {{food.distance}}m</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-12 drinkresults">
                    <div>
                        <i class="fa fa-beer"></i>
                        <h4>Drinks like '{{searchQuery}}' can be found here</h4>
                        <div *ngFor="let drink of drinksResults" class="text-center">
                            <h4>{{drink.name | truncate : 35}}</h4>
                            <p>{{drink.description | truncate : 40 }}</p>
                            <p>{{drink.price | currency:'EUR':true:'1.2-2'}}, <a href="javascript:void(0);" (click)="onSelect(drink.place_id)">{{drink.placeName}}</a></p>
                            <p>Distance: {{drink.distance}}m</p>
                        </div>

                    </div>
                </div>
            </div>
        </div><!--container -->
    </div>

</section>
