section#business {

  height: 40vh;
	background-image:url('../images/business-hero.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

#business .row {


}

.hero-outer {
  padding-top: 20px;  
}

section#business h2 {

  color: white;
  font-family: "Valera Round", sans-serif;
  font-size: 4em;
  position: relative !important;
  top: 60% !important;
}

section#business p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 100;
}

.business-call-to-action {

    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#f65d59;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    float: left;
    margin-top: 20px;
}

  .business-call-to-action:hover{
    background:#e2524e;
    color: white;
    border:none;
  }

  .business-call-to-action:active{
    opacity: 0.9;
  }
