<section id="business">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 hero-outer">
        <h2>Let us put your menu on the map.</h2>
        <p>Explore what Mowly can do for your business.</p>
        <p>No more worries for you.</p>


        <button type="submit" id="submit" name="submit" [routerLink]="['/register']" class="business-call-to-action semibold">REGISTER NOW</button>

      </div>
    </div>
  </div>
</section>
<section id="business-benefits">
  <div class='container'>
    <div class="row">
      <div class="col-lg-12">
      <h2>Let Mowly help you</h2>
      </div>
      <div class="col-xs-12 col-md-4 business-benefits-cols">
        <span class='smartphone-icon'></span>
        <div>
            <h3>Your menu. Anytime, anywhere</h3>
            <p>No more dirty menucards and waiting time for your clients.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 business-benefits-cols">
        <span class='doughnut-icon'></span>
        <h3>Let people find your exclusive dishes</h3>
        <p>Got that baked alaska nobody else has? Let people find it.</p>
      </div>
      <div class="col-xs-12 col-md-4 business-benefits-cols">
        <span class='pin-icon'></span>

        <h3>Edit your menu's instantly.</h3>
        <p>Just log in and edit that long-island icetea's price everyone loves.</p>
      </div>
    </div>
  </div>
</section>
