<div class="col-lg-6 col-lg-offset-3" *ngIf="!loading">
    <h2 class="wow animated bounceInLeft text-center">{{place?.name}}</h2>
    <h3 [ngClass]="{'wow animated hinge': !place?.foods[0]}">Food</h3>
    <div class="foods" *ngIf="place?.foods[0]">
    <div *ngFor="let food of place?.foods" class="text-center summing-up-block">
        <h2>{{food.name}}</h2>
        <p>{{food.description}}</p>
        <p>{{food.price}} €</p>
    </div>
</div>

    <h3 [ngClass]="{'wow animated hinge': !place?.drinks[0]}">Drink</h3>
    <div class="drinks" *ngIf="place?.drinks[0]">
    <div *ngFor="let drink of place?.drinks" class="text-center summing-up-block">
        <h2>{{drink.name}}</h2>
        <p>{{drink.description}}</p>
        <p>{{drink.price}} €</p>
    </div>
</div>
    <div class="wow animated text-center" *ngIf="!place?.foods[0] && !place?.drinks[0]">There are no menu items here.</div>

</div>

<div class="col-lg-6 col-lg-offset-3 text-center" *ngIf="loading">
    <h2>Loading hold on...</h2>
</div>