<!-- Fixed navbar -->
<nav class="navbar navbar-default" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['']"><img src="../images/nav-bar-logo2.png" alt="mowly-logo"></a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav cl-effect-4">
        <li ><a  [routerLink]="['']">HOME</a></li>
        <li ><a  [routerLink]="['/business']">BUSINESS</a></li>
        <li ><a  [routerLink]="['/dashboard']" *ngIf="auth.loggedIn()">DASHBOARD</a></li>
        <li ><a *ngIf="auth.loggedIn()" [routerLink]="['']" (click)="auth.logout()">LOGOUT</a></li>
        <li *ngIf="!auth.loggedIn()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">LOGIN<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a  [routerLink]="['/login']">LOGIN</a></li>
            <li><a  [routerLink]="['/register']">REGISTER</a></li>

          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<router-outlet></router-outlet>


<footer class="footer">
  <div class='container'>
      <div class='col-xs-7'>
        <ul>
          <li>Privacy</li>
          <li>Disclaimer</li>
          <li>Info</li>
        </ul>
      </div>
      <div class='col-xs-5 text-center wrapper'>
        <div class="social">&#62220;</div>
        <div class="social">&#62217;</div>
        <div class="social">&#62223;</div>
      </div>

  </div>
</footer>
