<!-- <section id="dashboard-hero">
  <div class='container'>
    <div class='row'>
      <h1 class='text-center'>Let's do some work, {{user?.name}}</h1>
    </div>
  </div>
</section> -->


<section id="dashboard">
    <div class='container'>
        <h2>YOUR PROFILE</h2>
        <div class='profile-template'>
            <div class="row">
                <div class="col-xs-12 col-md-12 arrow"  >
                  <i class="fa fa-arrow-left clickable" *ngIf="detailsSectionState != 'viewdetails'" (click)="changeState('viewdetails')" aria-hidden="true"></i>
                </div>
                <!--user details view-->
                <div class='col-xs-12 col-md-7 edit-profile' *ngIf="detailsSectionState == 'viewdetails'">
                    <!-- Left Inputs -->
                    <div class='edit-profile-card'>
                    <div class="col-xs-12 col-md-12" >
                        <h5>Your personal info here</h5>
                    </div>
                    <div class="col-xs-12 col-md-12" >
                        <p>{{user?.name}}</p>
                    </div>
                    <div class="col-xs-12 col-md-12" >
                        <p>{{user?.email}}</p>
                    </div>

                    <div class="col-xs-6 col-md-6 edit-profile-card-buttons">
                        <button  name="submit" class="form-btn semibold" [(disabled)]="loading" (click)="changeState('editdetails')">EDIT DETAILS</button>
                    </div>

                    <div class="col-xs-6 col-md-6 edit-profile-card-buttons">
                        <button  name="submit" class="form-btn semibold" [(disabled)]="loading" (click)="changeState('editpassword')">EDIT PASSWORD</button>
                    </div>


                    </div>
                </div>


                <!--edit details view-->
                <div class='col-xs-12 col-md-7' *ngIf="detailsSectionState == 'editdetails'">
                    <form class="edit-profile" >

                      <div class='edit-profile-card'>
                        <div class="col-xs-12 col-md-12" >
                            <h5>Edit your personal settings here</h5>
                        </div>
                        <div class="col-xs-12 col-md-12" >
                            <input type="name" [(ngModel)]="model.name" value="Name"name="name" id="name" required="required" class="form"  />
                        </div>
                        <div class="col-xs-12 col-md-12" >
                            <input type="email" [(ngModel)]="model.email" value="Email" name="mail" id="mail" required="required" class="form"  />
                        </div>
                        <div class="col-xs-12 col-md-6" >
                            <button type="submit" class="submit" name="submit" class="form-btn semibold" (click)="changeUserDetails()">SAVE</button>
                        </div>

                        <div class="col-xs-12 col-md-6" >
                            <div class="errorMessage animated bounceIn" *ngIf="errorMessage">
                                {{errorMessage}}
                            </div>
                        </div>

                          </div>
                    </form>
                </div>

                <!--edit password view-->
                <div class='col-xs-12 col-md-7' *ngIf="detailsSectionState == 'editpassword'">
                    <form class="edit-profile" >

                        <div class='edit-profile-card'>
                        <div class="col-xs-12 col-md-12" >
                            <h5>Edit your password here</h5>
                        </div>
                        <div class="col-xs-12 col-md-12" >
                            <input type="password" [(ngModel)]="model.old_password" name="oldpassword" id="oldpassword" required="required" class="form" placeholder="Old Password" />
                        </div>
                        <div class="col-xs-12 col-md-12" >
                            <input type="password" [(ngModel)]="model.new_password" name="newpassword" id="newpassword" required="required" class="form" placeholder="New Password" />
                        </div>
                        <div class="col-xs-12 col-md-6" >
                            <button type="submit" class="submit" name="submit" class="form-btn semibold" [(disabled)]="loading" (click)="changeUserPassword()">SAVE</button>

                        </div>

                        <div class="col-xs-12 col-md-6" >
                            <div class="errorMessage animated bounceIn" *ngIf="errorMessage">
                                {{errorMessage}}
                            </div>
                        </div>
                      </div>
                    </form>
                </div>
                <div class='col-xs-12 col-md-5 user-profile-pic-container'>
                  <div class='user-profile-pic'></div>
                </div>
            </div>
        </div>
        <h2>YOUR PLACES</h2>
        <div class="dashboard-template">
            <div class='row'>
                <div *ngFor="let place of places" class='col-lg-4 col-xs-12'>
                    <div class="place-item">
                        <div class="place-item-title">
                            <h5 class="text-center">{{place.name}}</h5>
                        </div>
                        <div class="place-item-content">
                            <address><p>{{place.streetname}} {{place.housenumber}}</p> <p>{{place.city}}, {{place.country}}</p></address>
                            <!-- <p><a href="javascript:void(0);"  (click)="onSelect(place)">Menu card</a></p> -->
                        </div>
                        <div class='place-item-menu-button hi-icon-wrap hi-icon-effect-2 hi-icon-effect-2a'>
                            <a class="hi-icon hi-icon-pencil" (click)="onSelect(place)"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="container" *ngIf="!loading">
    <div class="row">
        <div class="col-md-12">
            <div class="title text-center"><h1>Dashboard</h1></div>
            <div class="text-center wow animated bounce"><h4>Hey {{user?.name}}, let's get to work.</h4></div>
            <div *ngFor="let place of places">
                <h5>{{place.name}}</h5>
                <address><p>{{place.streetname}} {{place.housenumber}}</p> <p>{{place.city}}, {{place.country}}</p></address>
                <p><a href="javascript:void(0);"  (click)="onSelect(place)">Menu card</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <button [routerLink]="['/dashboard/addplace']" class="form-btn semibold">Add a new place</button>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="loading">
    <div class="col-md-12">
        <div class="title text-center">
            <h1>Dashboard</h1>
            <div class="text-center">
                <h4>Hold on, Mowly is fetching your stuff</h4>
            </div>
        </div>
    </div>
</div> -->
