<div class="row">
  <div class="col-sm-12 col-md-12">
    <h4 class='text-center register-subtitle'>Your personal account</h4>
  </div>
</div>
<div class="row">
  <div class="inner register">
          <!-- Form Area -->
          <div class="register-form">
              <!-- Form -->
              <form id="register" method="post" action="#">
                  <!-- Left Inputs -->
                  <div class="col-xs-12 col-md-6 col-md-offset-3 animated slideInLeft" >
                      <!-- Name -->
                      <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                      <!-- Email -->
                      <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                      <!-- Subject -->
                      <input type="password" name="password" id="password" required="required" class="form" placeholder="Password" />
                  </div><!-- End Left Inputs -->

                  <!-- Bottom Submit -->
                  <div class="relative fullwidth col-xs-12 col-md-6 col-md-offset-3">
                      <!-- Send Button -->
                      <button type="submit" id="submit" name="submit" class="form-btn semibold">Register</button>
                  </div><!-- End Bottom Submit -->
                  <!-- Clear -->
                  <div class="clear"></div>
              </form>



          </div><!-- End Contact Form Area -->
      </div><!-- End Inner -->

</div>
